<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Check the progression of this project in github
  <a href="https://github.com/raganhan/railstutorial">
		https://github.com/raganhan/railstutorial
  <a/>
</p>
